{# myapp/templates/macros.html #}

<!-- Highlight the current tab -->
{% macro nav_link(endpoint, text) %}
	{% if request.endpoint is not none %}
		{% if request.endpoint.endswith(endpoint) %}
		    <a class="active teal item" href="{{ url_for(endpoint) }}">{{ text }}</a>
		{% else %}
		    <a class="item" href="{{ url_for(endpoint) }}">{{ text }}</a>
		{% endif %}
	{% else %}
    	<a class="item" href="{{ url_for(endpoint) }}">{{ text }}</a>
	{% endif %}
{% endmacro %}

{% macro render_menu_items(name, endpoints) %}

	<div class="ui dropdown item">
		{{ name }}
		<i class="dropdown icon"></i>
		<div class="menu">
				<div class="item">Explore</div>
				<div class="item">New</div>
				<!-- {% for endpoint, name in endpoints %}
			<div class="item">
				<a class="item {% if request.endpoint == endpoint %}active teal item{% endif %}" href="{{ url_for(endpoint) }}">
					{{ name | safe }}
				</a>
			</div>
			{% endfor %} -->
		</div>

	  </div>
    	<script type="text/javascript">
		$('.ui.dropdown').dropdown();
	</script>
{% endmacro %}

<!-- Render a WTForm form's field (with it's possible associated errors) from a WTForms form -->
{% macro render_field(field) %}
	<div class="field">
		{{ field(name_=field.name, id=field.name, placeholder=field.description, class_="field") }}
	</div>
  	{% if field.errors %}
    	<ul>
	    	{% for error in field.errors %}
	      		<li class="form-error">{{ error }}</li>
	    	{% endfor %}
    	</ul>
  	{% endif %}
{% endmacro %}